/************** forgot password css ***************/
.forgotBtn{
    background: linear-gradient(60deg,#ffd86f,#fc6262)!important;
    border-radius: 30px;
    text-transform: initial;
    font-size: 18px;
}
.forgotPasswordCard{
    width : 400px;
    align-self:center;
    margin: 60px 0px 0px 380px;
    height: 300px;
}
.forgotBar{
    background: linear-gradient(40deg,#ffd86f,#fc6262)!important;
    height: 70px;
}
p{
    font-weight: bold;
    font-size: 30px;
    color:  white;
    padding: 10px 0px 0px 82px;
}

/************************* login page css ***********************/
.loginBtn{
    background: linear-gradient(60deg,#ffd86f,#fc6262)!important;
    border-radius: 50px;
    text-transform: initial;
    font-size: 18px;
    width: 150px;
}
.loginCard{
    width : 400px;
    align-self:center;
    margin: 60px 0px 0px 380px;
}
.loginBar{
    background: linear-gradient(40deg,#ffd86f,#fc6262)!important;
    height: 70px;
}
login{
    font-weight: bold;
    font-size: 30px;
    color:  white;
    padding: 10px 0px 0px 120px;
}
.errorMessage{
    color: red;
}

/************** Register page css **************/
.registerBtn{
    background: linear-gradient(60deg,#ffd86f,#fc6262)!important;
    border-radius: 30px;
    text-transform: initial;
    font-size: 18px;
    width: 150px;
}
.registerCard{
    width : 400px;
    align-self:center;
    margin: 60px 0px 0px 380px;
}
.registerBar{
    background: linear-gradient(40deg,#ffd86f,#fc6262)!important;
    height: 70px;
}
p{
    font-weight: bold;
    font-size: 30px;
    color:  white;
    padding: 10px 0px 0px 123px;
}

/******************* Toolbar and sidebar css ******************/
.homeBar{
    background-color: #fb0;
    height: 65px;
}
.title{
    /* padding: 5px 1080px 0px 0px; */
    font-weight: normal;
    color: black;
    font-size: 25px;
}
.searchBar{
    width: 600px;
    height: 45px;
}
.menuBtn{
    margin: 0rem;
    
}
.sidebar{
    top: 65px;
}
.sidebarBtn{
    height: 50px;
    width: 100%;
}
.reminderBtn{
    margin-left: -134px;
    padding-right: 30px;
    padding-left: 30px;
    opacity: 0.54;

}
.noteBtn{
    margin-left: -134px;
    padding-right: 30px;
    opacity: 0.54;

}
.trashBtn{
    margin-left: -167px;
    padding-right: 30px;
    padding-left: 40px;
    opacity: 0.54;

}
.archiveBtn{
    margin-left: -167px;
    padding-right: 30px;
    padding-left: 55px;
    opacity: 0.54;
}

/************** Note Component css *****************/
.firstCard{
    width: 500px;
    margin-left: 325px;
    margin-top: 40px;
}
.noteTitle{
    outline: none;
}

.firstCardIconBtn{
    margin-top: -58px;
    margin-left: 398px;
}
.titleInput{
    width: 80%;
    height: 100%;
    border: none; 
}
.secondCard{
    width: 500px;
    margin-left: 325px;
    margin-top: 40px;
}
.inputTitle{
    border: none;
    height: 32%;
    margin-top: -6px;
}
.noteIcons{
margin-top: -5px;
}

/*********** Sign out card ***********/
.signout-card{
    height: 200px;
    width: 300px;
    margin-top: -644px;
    margin-left: 970px;
}
/*********** Display note css ********/
.note-card{
    width: 298px;
    margin: 17px;
    margin-left: 320px;
    padding: 5px;

}

